/*YOUR CUSTOM STYLES*/
.flags{
    width: auto;
    height: auto;
}
.dropdown-menu{
    direction: ltr;
    position: absolute;
    top: 100%;
    left: -50px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 3px 15px 6px 2px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.flexnav-menu-button{
    margin-bottom: 0px;
}
.thumb-caption .thumb-meta{
    margin-top: 3px;
}